<!--component html goes here -->
<table class="table table-vcenter table-striped">
    <thead>
        <tr>
          <th *ngFor="let opt of options">

          </th>
        </tr>
        <tr>
            <th *ngFor="let opt of options">
              <!-- Column sortable markup -->
              <a *ngIf="opt.sortable" href="javascript:;" (click)="doSort(opt)">{{ opt.title }}</a>
              <i *ngIf="opt.sortable" [ngClass]="{ 'gi-sort-by-attributes': opt.sort == 'desc', 'gi-sort-by-attributes-alt': opt.sort == 'asc'}" class="gi"></i>

              <!-- Column not sortable markup -->
              <span *ngIf="!opt.sortable">{{ opt.title }}</span>
            </th>
            <th style="width: 150px;" class="text-center">İşlem</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td *ngFor="let opt of options">{{ item[opt.column] }} {{ opt.test }}</td>

            <td class="text-center">
                <div class="btn-group btn-group-xs">
                    <a href="user-edit.html" [routerLink]=" ['/panel/kullanici-duzenle/', item.id] " data-toggle="tooltip" title="Düzenle" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Sil" class="btn btn-danger" (click)="doDelete(item)"><i class="fa fa-times"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
