 <ul class="pagination" *ngIf="current_page && last_page > 1">

    <li *ngIf="current_page > 1"><a href="javascript:void(0)" (click)="page(current_page - 1)"><i class="fa fa-chevron-left"></i></a></li>
    <!-- disabled left arrow -->
    <li *ngIf="current_page <= 1" [ngClass]="{'disabled': current_page <= 1 }"><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>

    <li *ngFor="let pageNum of getPagesNumber(); let i = index; trackBy: trackByFn" [ngClass]="{ 'active': pageNum === current_page }" >
      <!-- Active page disabled -->
      <a *ngIf="pageNum === current_page" href="javascript:void(0)">{{ pageNum }}</a>

      <!-- Other pages -->
      <a *ngIf="pageNum != current_page && (pageNum >= getPadding(current_page, last_page, 'left') && (i+1) <= getPadding(current_page, last_page, 'right'))" href="javascript:;" (click)="page(pageNum)">{{ pageNum }}</a>
    </li>

    <li *ngIf="current_page < last_page"><a href="javascript:void(0)" (click)="page(current_page + 1)"><i class="fa fa-chevron-right"></i></a></li>
    <!-- disabled right arrow -->
    <li *ngIf="current_page >= last_page" [ngClass]="{'disabled': current_page == last_page}" ><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
</ul>
